@use 'sass:color';

$polygonHeight: 20vw;

.introBkg {
	background-image: url("../src/assets/images/mainBkg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.homePage {
	width: 100%;
	height: 100%;

	h1,
	h2,
	h3 { color: $website-mainHeadings }

	h1 { 
		text-align: center;
		margin: calc($website-margin * 4) auto calc($website-margin * 2);
	}
	h2 {
		width: 100%;
		text-align: center;
	}

	&--intro {
		position: relative;
		height: 100vh;

		&--heading {
			margin-top: 3vw;

			&--logo {
				flex-wrap: wrap;
				justify-content: center;
			}
			&--claim { 
				width: min(100%, 500px);
				margin-top: 1vh;
			}
		}

		&--jumpTo {
			//background-color: rgba(255, 228, 196, 0.4);
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			a { color: transparent }

			& button {
				height: 100%;
				width: 100%;
				font-size: 7.5rem !important;
				color: rgba(255, 255, 255, 0.5);
				margin: auto;
				transition: color 0.2s ease-in-out;
				transform: translatey(0px);
				animation: float 5s linear infinite;

				&:hover {
					color: rgba(255, 255, 255, 0.9);
					transition: color 0.3s ease-in-out;
				}
			}
		}
	}
	&--cta {
		position: relative;
		background-color: $website-Bkg;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - $polygonHeight), 50% 100%, 0% calc(100% - $polygonHeight));
		background-image: url("../assets/images/colorful-bkg.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: calc(100% + 10vw);
	}
	&--footer {
		$footerHeight: 60px;
		margin-top: $website-margin;
  
		&--info {
		  width: 100%;
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: space-between;
	 
		  &--logo {
			 display: flex;
			 align-items: center;
			 max-width: 50%;
			 min-width: 220px;
			 margin: auto;
		
			 & > img { max-width: 100% }
		  }
		  &--privacy {
			 color: $website-plainText;
			 display: flex;
			 align-items: center;
			 margin: auto;
			 padding-left: 3rem;
  
			 & > nav { width: 100% }
			 & > nav > ul { 
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				line-height: 1;
				padding: 0;
  
				@media screen and (max-width: map-get($breakpoints, tablet)) {
				  display: block;
				}
				
				li {
					display: flex;
					align-items: center;
					justify-content: center;
					margin: calc($website-margin / 2);

					@media (min-width: map-get($breakpoints, laptop)) and (max-width: map-get($breakpoints, desktop)) {
						width: 50%;
						margin: 0.5rem 0;
					}

					& > a {
						@include Quicksand();

						&:link {
							display: block;
							color: $website-accentedText;
							text-decoration: none;
						}
						&:visited { color: $website-accentedText }
						&:hover { color: $website-mainHeadings }
						&:active { color: $website-mainHeadings }

						text-transform: uppercase;
						display: flex;
						font-size: 1.25em;
						color: $website-accentedText;
						transition: color 0.3s ease-in-out;

						& > i.fi {
							color: $website-mainHeadings;
							margin-right: 0.125em;
						}
					}
				}
			 }
		  }
		}
		&--copyright {
			font-size: 0.875rem;
			color: $website-plainText;
			flex: 1 1 100%;
			text-align: center;
			margin-top: calc($website-margin);
			margin-bottom: calc($website-margin);

			& > a:link,
			& > a:visited { 
				color: $website-plainText;
				text-decoration: none; 
			}
		}
	}

	[class^="hexagon-"] {
		position: relative;
		background-color: $website-Bkg;
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 99%, 25% 99%, 0% 50%);

		@media screen and (max-width: map-get($breakpoints, laptop)) { transform: none !important }
		@include responsiveProperty($hexagonMargins, margin);
	 
		article {
		  position: absolute;
		  display: flex;
		  flex-direction: column;
		  top: 10%; left: 25%; right: 25%; bottom: 10%;
		  text-align: center;
	 
		  h3 { 
			 margin-left: -20%;
			 margin-right: -20%;
		  }
		}
	 }

	@for $i from 1 through 3 {
		$transformedColorMap: ();
	 
		@each $key, $value in $presentationColors {
			$transformedColorMap: append($transformedColorMap, $value)
		}
	 
		.hexagon-#{$i} article > svg {
			max-width: 100%;
			min-height: 66px;
			max-height: 160px;
			margin-bottom: $website-margin * 2;
			fill: nth($transformedColorMap, $i);
		}
	}
	.hexagon-1 { 
		transform: translate(20%, 0); 

		@media screen and (max-width: map-get($breakpoints, desktop)) { transform: translate(10%, 0) }
	}
	.hexagon-2 { 
		transform: translate(0, 50%);

		@media screen and (max-width: map-get($breakpoints, desktop)) { transform: translate(-10%, 52.5%) }
	}
	.hexagon-3 { 
		transform: translate(-20%, 0%);

		@media screen and (max-width: map-get($breakpoints, desktop)) { transform: translate(-40%, 5%) }
	}
}

#wave {
	height: 420px;
	background-image: url("../src/assets/images/wave.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	margin-top: -10vh;
}

.card {
	display: flex;
	border-radius: 18px;
	background-image: linear-gradient(90deg, rgba(map-get($presentationColors, azure), 0.75) 0%, transparent 100% );
	
	& > .flex-row {
	  width: calc(100% - 4px);
	  height: calc(100% - 4px);
	  margin: 2px;
	  padding: calc($website-margin * 2);
	  border-radius: 18px;
	  background-image: linear-gradient(90deg, rgba(34, 23, 78, 1) 40%, rgba(13, 12, 41, 1) 100%);
	}
 
	&--bkg {
		border-radius: 18px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		padding: calc($website-margin * 4);
		background-image: linear-gradient(-90deg, rgba(12, 55, 89, 0.25) 30%, rgba(13, 12, 41, 0.75) 100%);
		margin: 2px;
	}
	&--icon { 
	  @include responsiveProperty($cardMulticoloriconSizes, width);

	  height: auto;
	  position: absolute;
	  margin-bottom: calc($website-margin * 2); 
	}
	&--headline { 
	  hyphens: none;
	  padding-left: 1em;

	  @include responsiveProperty($cardMulticoloriconSizes, margin-left);
	}
	&--divider {
	  border: none;
	  height: 0.25em;
 
	  background-image: linear-gradient(
		 90deg, 
		 map-get($presentationColors, azure) 0%, 
		 map-get($presentationColors, blue) 50%, 
		 map-get($presentationColors, violet) 100%);
	  margin: calc($website-margin * 2) 0;
	}
	&--description { 
		font-size: 1.5rem !important;
		font-weight: 600; 
	}
	&--image { 
		display: flex;
		
		& > div { margin: auto }
	}
 
	& + & { 
		background-image: linear-gradient(-90deg, rgba(map-get($presentationColors, violet), 0.6) 0%, transparent 100% );
		margin-bottom: 16vw;
		margin-top: calc($website-margin * 2);

		& .card--bkg { 
			background-image: linear-gradient(90deg, rgba(12, 55, 89, 0.25) 30%, rgba(13, 12, 41, 0.75) 100%);
			background-color: rgba(0,0,0, 0.2);
		}
	}
 }

 #castoro {
	background-image: url("../assets/images/starBkg.jpg");
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-size: cover;
	margin-top: -($polygonHeight);
 }

 #topo {
	width: 100%;
	height: 20vw;
	background-image: linear-gradient(
	  90deg, 
	  map-get($presentationColors, azure) 0%, 
	  map-get($presentationColors, blue) 50%, 
	  map-get($presentationColors, violet) 100%);
	clip-path: polygon(0 0, 50% calc(100% - ($polygonHeight/10)), 100% 0, 100% calc(100% - $polygonHeight), 50% 100%, 0% calc(100% - $polygonHeight));
	position: absolute;
	bottom: 0;
 }

#loginAndRegister { padding-top: $polygonHeight }


#Login, 
#Register { 
	transform: translateY(-3vw);
	
	@media screen and (max-width: map-get($breakpoints, laptop)) { transform: none }
}
#Login {
  border-color: map-get($presentationColors, azure);
  background: rgba(map-get($presentationColors, azure), 0.25);
  margin-right: calc($website-margin * 2);
}
#Register {
  border-color: map-get($presentationColors, blue);
  background: rgba(map-get($presentationColors, blue), 0.25);
  margin-left: calc($website-margin * 2);
}
#toBeDefined {
  border-color: map-get($presentationColors, violet);
  background: rgba(map-get($presentationColors, violet), 0.25);
}
#Login, 
#Register, 
#toBeDefined {
  border-radius: 18px;
  border: 2px solid;
  padding: 10%;
  margin-top: calc($website-margin * 4);
  margin-bottom: calc($website-margin * 4);

  @media screen and (max-width: map-get($breakpoints, laptop)) {
		margin: calc($website-margin * 1) 0;
	}

	fieldset > label > .icon {
		&-envelope { color: map-get($presentationColors, azure) }
		&-bookmark { color: map-get($presentationColors, violet) }
		&-user { color: map-get($presentationColors, blue) }
	}
}