@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@mixin Quicksand($weight: 500) {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  letter-spacing: 0.25px;
}

@mixin RobotoSlab($weight: 500) {
  font-family: "Roboto Slab", serif;;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;

  @if ($weight <= 500) {
    letter-spacing: normal;
  } @else {
    letter-spacing: 0.5px;
  }
}



@font-face {
  font-family: 'Icomoon';
  src:  url('fonts/Icomoon/Icomoon.eot?a0b353');
  src:  url('fonts/Icomoon/Icomoon.eot?a0b353#iefix') format('embedded-opentype'),
    url('fonts/Icomoon/Icomoon.ttf?a0b353') format('truetype'),
    url('fonts/Icomoon/Icomoon.woff?a0b353') format('woff'),
    url('fonts/Icomoon/Icomoon.svg?a0b353#Icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], 
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  &::before, &::after {
    font-family: 'Icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  }


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diamond {
  &:before {
    content: $icon-diamond; 
  }
}
.icon-expeditedssl {
  &:before {
    content: $icon-expeditedssl; 
  }
}
.icon-battery {
  &:before {
    content: $icon-battery; 
  }
}
.icon-battery-4 {
  &:before {
    content: $icon-battery-4; 
  }
}
.icon-battery-full {
  &:before {
    content: $icon-battery-full; 
  }
}
.icon-battery-3 {
  &:before {
    content: $icon-battery-3; 
  }
}
.icon-battery-three-quarters {
  &:before {
    content: $icon-battery-three-quarters; 
  }
}
.icon-battery-2 {
  &:before {
    content: $icon-battery-2; 
  }
}
.icon-battery-half {
  &:before {
    content: $icon-battery-half; 
  }
}
.icon-battery-1 {
  &:before {
    content: $icon-battery-1; 
  }
}
.icon-battery-quarter {
  &:before {
    content: $icon-battery-quarter; 
  }
}
.icon-battery-0 {
  &:before {
    content: $icon-battery-0; 
  }
}
.icon-battery-empty {
  &:before {
    content: $icon-battery-empty; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-star-o {
  &:before {
    content: $icon-star-o; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-remove {
  &:before {
    content: $icon-remove; 
  }
}
.icon-times {
  &:before {
    content: $icon-times; 
  }
}
.icon-cog {
  &:before {
    content: $icon-cog; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-trash-o {
  &:before {
    content: $icon-trash-o; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-pencil {
  &:before {
    content: $icon-pencil; 
  }
}
.icon-arrows {
  &:before {
    content: $icon-arrows; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-times-circle {
  &:before {
    content: $icon-times-circle; 
  }
}
.icon-check-circle {
  &:before {
    content: $icon-check-circle; 
  }
}
.icon-question-circle {
  &:before {
    content: $icon-question-circle; 
  }
}
.icon-info-circle {
  &:before {
    content: $icon-info-circle; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-mail-forward {
  &:before {
    content: $icon-mail-forward; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-exclamation-triangle {
  &:before {
    content: $icon-exclamation-triangle; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-arrow-circle-left {
  &:before {
    content: $icon-arrow-circle-left; 
  }
}
.icon-arrow-circle-right {
  &:before {
    content: $icon-arrow-circle-right; 
  }
}
.icon-arrow-circle-up {
  &:before {
    content: $icon-arrow-circle-up; 
  }
}
.icon-arrow-circle-down {
  &:before {
    content: $icon-arrow-circle-down; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}
.icon-navicon {
  &:before {
    content: $icon-navicon; 
  }
}
.icon-reorder {
  &:before {
    content: $icon-reorder; 
  }
}
.icon-list-ul {
  &:before {
    content: $icon-list-ul; 
  }
}
.icon-list-ol {
  &:before {
    content: $icon-list-ol; 
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down; 
  }
}
.icon-caret-up {
  &:before {
    content: $icon-caret-up; 
  }
}
.icon-caret-left {
  &:before {
    content: $icon-caret-left; 
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-unsorted {
  &:before {
    content: $icon-unsorted; 
  }
}
.icon-sort-desc {
  &:before {
    content: $icon-sort-desc; 
  }
}
.icon-sort-down {
  &:before {
    content: $icon-sort-down; 
  }
}
.icon-sort-asc {
  &:before {
    content: $icon-sort-asc; 
  }
}
.icon-sort-up {
  &:before {
    content: $icon-sort-up; 
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope; 
  }
}
.icon-chevron-circle-left {
  &:before {
    content: $icon-chevron-circle-left; 
  }
}
.icon-chevron-circle-right {
  &:before {
    content: $icon-chevron-circle-right; 
  }
}
.icon-chevron-circle-up {
  &:before {
    content: $icon-chevron-circle-up; 
  }
}
.icon-chevron-circle-down {
  &:before {
    content: $icon-chevron-circle-down; 
  }
}
.icon-check-square {
  &:before {
    content: $icon-check-square; 
  }
}
.icon-pencil-square {
  &:before {
    content: $icon-pencil-square; 
  }
}
.icon-sliders {
  &:before {
    content: $icon-sliders; 
  }
}
.icon-eyedropper {
  &:before {
    content: $icon-eyedropper; 
  }
}
.icon-user-circle-o {
  &:before {
    content: $icon-user-circle-o; 
  }
}
.icon-user-circle {
  &:before {
    content: $icon-user-circle; 
  }
}
.icon-headphones {
  &:before {
    content: $icon-headphones; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-video-camera {
  &:before {
    content: $icon-video-camera; 
  }
}
.icon-dice {
  &:before {
    content: $icon-dice; 
  }
}
.icon-pacman {
  &:before {
    content: $icon-pacman; 
  }
}
.icon-spades {
  &:before {
    content: $icon-spades; 
  }
}
.icon-clubs {
  &:before {
    content: $icon-clubs; 
  }
}
.icon-diamonds {
  &:before {
    content: $icon-diamonds; 
  }
}
.icon-library {
  &:before {
    content: $icon-library; 
  }
}
.icon-cart {
  &:before {
    content: $icon-cart; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-bubbles {
  &:before {
    content: $icon-bubbles; 
  }
}
.icon-binoculars {
  &:before {
    content: $icon-binoculars; 
  }
}
.icon-bug {
  &:before {
    content: $icon-bug; 
  }
}
.icon-mug {
  &:before {
    content: $icon-mug; 
  }
}
.icon-power {
  &:before {
    content: $icon-power; 
  }
}
.icon-smile {
  &:before {
    content: $icon-smile; 
  }
}
.icon-tongue {
  &:before {
    content: $icon-tongue; 
  }
}
.icon-sad {
  &:before {
    content: $icon-sad; 
  }
}
.icon-grin {
  &:before {
    content: $icon-grin; 
  }
}
.icon-checkbox-checked {
  &:before {
    content: $icon-checkbox-checked; 
  }
}
.icon-checkbox-unchecked {
  &:before {
    content: $icon-checkbox-unchecked; 
  }
}