@use 'sass:color';

.homePage {
  width: 100%;
  height: 100%;
  background-color: $homePageBkg;

  h1 { 
    color: $ctaColor;
    margin-bottom: calc($standardMargin * 2); 
  }

  &--intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../src/assets/images/mainBkg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: relative;

    & > .container { height: 100% }
    &--logo {
      width: 80%;
      margin: 5vh auto;

      @each $breakpoint, $value in $logoSizes {
        $hue: $hue + 50;
    
        @include respond-to($breakpoint) {
          max-width: $value;
          //outline: 2px solid oklch(70% .2 $hue);    // *** debug ***
        }
      }

      & > img { width: 100% }
    }
    &--jumpTo {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;

      a { color: transparent }
      & button { 
        height: 100%;
        width: 100%;
        font-size: 7.5rem !important;
        color: rgba(255, 255, 255, 0.5);
        margin: auto;
        transition: color 0.2s ease-in-out;
        transform: translatey(0px);
        animation: float 5s linear infinite;

        &:hover {
          color: rgba(255, 255, 255, 0.9);
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
  &--cta {
    padding: calc($standardMargin * 3);
    background-color: $homePageBkg;

    &--card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &--text {   
        h1 { width: 100% }
        p { font-size: 1.5rem; }
      }

    }
    &--authentication {
      width: 100%;
      display: flex;

      .login,
      .register {
        &-link { margin-bottom: calc($standardMargin * 2) }
        &--illustration {
          opacity: 0.8;
          background-repeat: no-repeat;
          background-size: contain;
          background-position-x: center;
          background-position-y: top;
        }
        &--formContent {            
          form {
            display: flex;
            height: 100%;
            flex-direction: column;
          }
          .btn { 
            width: 100%;
            margin-top: auto; 
          }
          fieldset { 
            & + fieldset { margin-top: $standardMargin }
            & + button.btn { margin-top: $standardMargin * 3 }
            & > label {
              display: flex;
              align-items: center;
              color: $textBeige;
    
              & > [class^="icon-"] {
                color: $ctaColor;
                margin-right: calc($standardMargin / 2);
              }
            }
          }
        }
      }
    }
  }
  &--footer {
    $footerHeight: 60px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: calc($standardMargin * 3) calc($standardMargin * 3) calc($standardMargin * 2);
    background-color: $homePageBkg;

    &--info {
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      &--logo {
        display: flex;
        align-items: center;
    
        & > img { max-width: 100% }
      }
      &--privacy {
        color: $textWhite;
        display: flex;
        align-items: center;
  
        & > nav > ul { 
          display: flex;
          line-height: 1;
          @media screen and (max-width: map-get($breakpoints, sm)) {
            display: inline-block;
          }
          
          li {
            margin: 0 calc($standardMargin * 2);
            display: flex;
            align-items: center;

            @media screen and (max-width: map-get($breakpoints, md)) {
              margin: 0 calc($standardMargin * 1);
            }
  
            & > a {
              @include Quicksand();

              text-transform: uppercase;
              display: flex;
              font-size: 1.25em;

              & > i[class^="icon-"] { 
                color: $ctaColor; 
                margin-right: 0.25em; 
              }
            }
          }
        }
      }
    }
    &--copyright {
      font-size: 0.875rem;
      color: $textWhite;
      flex: 1 1 100%;
      text-align: center;
      margin-top: calc($standardMargin * 2);
    }
  }
}

.todoListApp {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}


@keyframes float {
	0% { transform: translatey(0) }
  25% { transform: translatey(2vh) }
	50% { transform: translatey(0) }
  75% { transform: translatey(-2vh) }
	100% { transform: translatey(0) }
}