@use 'sass:color';

$polygonHeight: 20vw;

.homePage {
  width: 100%;
  height: 100%;
  background-color: $homePageBkg;

  h1 { text-align: center }
  h1, h2, h3, h4 { color: $ctaColor }
  h3 {
    @include Quicksand;

    margin-bottom: $standardMargin;
  }
  p { font-size: 1.25rem }

  &--intro {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../src/assets/images/mainBkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    @include responsiveProperty($mainBkgSizes, background-size);

    & > .container { height: 100% }
    &--logo {
      width: 80%;
      height: auto;
      margin: 5vh auto;

      @each $breakpoint, $value in $logoSizes {
        $hue: $hue + 50;
    
        @include respond-to($breakpoint) {
          max-width: $value;
          //outline: 2px solid oklch(70% .2 $hue);    // *** debug ***
        }
      }

      & > img { width: 100% }
    }
    &--claim  {
      width: 70% !important;
      height: auto;
      display: flex;
      margin: $standardMargin auto;

      @media screen and (max-width: map-get($breakpoints, sm)) { width: 100% !important }
    }
    &--jumpTo {
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;

      a { color: transparent }
      & button { 
        height: 100%;
        width: 100%;
        font-size: 7.5rem !important;
        color: rgba(255, 255, 255, 0.5);
        margin: auto;
        transition: color 0.2s ease-in-out;
        transform: translatey(0px);
        animation: float 5s linear infinite;

        &:hover {
          color: rgba(255, 255, 255, 0.9);
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }


  #topo {
    width: 100%;
    height: 20vw;
    background-image: linear-gradient(
      90deg, 
      map-get($presentationColors, azure) 0%, 
      map-get($presentationColors, blue) 50%, 
      map-get($presentationColors, violet) 100%);
    clip-path: polygon(0 0, 50% calc(100% - ($polygonHeight/10)), 100% 0, 100% calc(100% - $polygonHeight), 50% 100%, 0% calc(100% - $polygonHeight));
    position: absolute;
    bottom: 0;
  }

  &--cta {
    position: relative;
    background-color: $homePageBkg;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - $polygonHeight), 50% 100%, 0% calc(100% - $polygonHeight));
    background-image: url("../assets/images/colorful-bkg.png");
    background-repeat: no-repeat;
    background-position-y: calc(100% + 200px);
    background-size: 100%;
    //height: 100%;

    &--card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &--text {   
        h1 { width: 100% }
      }

    }
    &--authentication {
      h1, h2 { margin-bottom: calc($standardMargin * 2) }

      .login,
      .register {
        &--illustration {
          opacity: 0.8;
          background-repeat: no-repeat;
          background-size: contain;
          background-position-x: center;
          background-position-y: top;
        }
        &--formContent {            
          form {
            display: flex;
            height: 100%;
            flex-direction: column;
          }
          .btn { 
            width: 100%;
            margin-top: calc($standardMargin * 2);

            @media screen and (min-width: map-get($breakpoints, md)) {
              margin-top: auto;
            }
          }
          fieldset { 
            & + fieldset { margin-top: $standardMargin }
            & + button.btn--cta { margin-top: calc($standardMargin * 3) }
            & > label {
              display: flex;
              align-items: center;
              color: $textBeige;
    
              & > [class^="icon-"] {
                color: $ctaColor;
                margin-right: calc($standardMargin / 2);
              }
            }
          }
        }
      }
    }
  }
  &--footer {
    $footerHeight: 60px;

    &--info {
      width: 100%;
      display: flex;
      justify-content: space-between;
  
      &--logo {
        display: flex;
        align-items: center;
    
        & > img { max-width: 100% }
      }
      &--privacy {
        color: $textWhite;
        display: flex;
        align-items: center;

        & > nav { width: 100% }
  
        & > nav > ul { 
          display: flex;
          justify-content: space-between;
          line-height: 1;

          @media screen and (max-width: map-get($breakpoints, md)) {
            display: inline-block;
          }
          
          li {
            display: flex;
            align-items: center;

            @include responsiveProperty($footerMenuMargins, "margin");
  
            & > a {
              @include Quicksand();

              text-transform: uppercase;
              display: flex;
              font-size: 1.25em;

              & > i[class^="icon-"] { 
                color: $ctaColor; 
                margin-right: 0.25em; 
              }
            }
          }
        }
      }
    }
    &--copyright {
      font-size: 0.875rem;
      color: $textWhite;
      flex: 1 1 100%;
      text-align: center;
      margin-top: calc($standardMargin * 2);
    }
  }
}

.todoListApp {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}


@keyframes float {
	0% { transform: translatey(0) }
  25% { transform: translatey(2vh) }
	50% { transform: translatey(0) }
  75% { transform: translatey(-2vh) }
	100% { transform: translatey(0) }
}

[class^="hexagon-"] {
  position: relative;
  background-color: $homePageBkg;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 99%, 25% 99%, 0% 50%);

  @media screen and (max-width: map-get($breakpoints, md)) { transform: none !important }

  article {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%; left: 25%; right: 25%; bottom: 10%;
    text-align: center;

    h3 { 
      margin-left: -15%;
      margin-right: -15%;
    }
  }
}

@for $i from 1 through 3 {
  $transformedColorMap: ();

  @each $key, $value in $presentationColors {
    $transformedColorMap: append($transformedColorMap, $value)
  }

  .hexagon-#{$i} article > svg {
    //max-height: 6.5rem;
    max-width: 100%;
    margin-bottom: $standardMargin * 2;
    fill: nth($transformedColorMap, $i);
  } 
}
.hexagon-1 { transform: translate(25%, 0) }
.hexagon-2 { transform: translate(0, 50%) }
.hexagon-3 { transform: translate(-25%, 0%) }

#wave {
  height: 420px;
  background-image: url("../src/assets/images/wave.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  margin-top: -10vh;
}

.card {
  border-radius: 18px;
  background-image: linear-gradient(90deg, rgba(map-get($presentationColors, azure), 0.6) 0%, transparent 100% );
  padding: 0;
  margin-left: calc($standardMargin * 2);
  margin-right: calc($standardMargin * 2);
  margin-bottom: calc($standardMargin * 4);

  & > .flex-row {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    padding: calc($standardMargin * 2);
    border-radius: 18px;
    background-image: linear-gradient(90deg, rgba(34, 23, 78, 1) 40%, rgba(13, 12, 41, 1) 100%);
  }


  &--icon { 
    @include responsiveProperty($cardMulticoloriconSizes, width);
    height: auto;
    position: absolute;
    margin-bottom: calc($standardMargin * 2); 
  }
  &--headline { 
    hyphens: none;
    /* position: relative;
    @include responsiveProperty($cardMulticoloriconSizes, left); */

    @each $breakpoint, $value in $breakpoints {
      @include respond-to($breakpoint) { 
        margin-left: calc(map-get($cardMulticoloriconSizes, $breakpoint) + $standardMargin * 2); 
      };
    }

    //margin-left: calc($standardMargin * 2);
  }
  &--divider {
    border: none;
    height: 0.25em;

    @each $breakpoint, $value in $breakpoints {
      @include respond-to($breakpoint) { 
        width: calc(100% - (map-get($cardMulticoloriconSizes, $breakpoint)));
        margin-left: calc(map-get($cardMulticoloriconSizes, $breakpoint) + $standardMargin * 2); 
      };
    }

    background-image: linear-gradient(
      90deg, 
      map-get($presentationColors, azure) 0%, 
      map-get($presentationColors, blue) 50%, 
      map-get($presentationColors, violet) 100%);
    margin: calc($standardMargin * 2) 0;
  }
  &--description { font-size: 1.5rem !important }
  &--image { display: flex }

  & + & { 
    background-image: linear-gradient(-90deg, rgba(map-get($presentationColors, azure), 0.6) 0%, transparent 100% );
    margin-bottom: 15rem;
    
    & > .flex-row { background-image: linear-gradient(-90deg, rgba(12, 55, 89, 0.5) 30%, rgba(13, 12, 41, 0.5) 100%) }
  }
}

#castoro {
  background-image: url("../assets/images/starBkg.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  margin-top: -($polygonHeight);
}
#loginAndRegister { padding-top: $polygonHeight }

#Login, 
#Register, 
#toBeDefined {
  border-radius: 18px;
  border: 2px solid;
  padding: calc($standardMargin * 4);

  fieldset > label > .icon {
    &-envelope { color: map-get($presentationColors, azure) }
    &-bookmark { color: map-get($presentationColors, violet) }
    &-user { color: map-get($presentationColors, blue) }
  }
}
#Login, #Register { transform: translateY(-20%) }
#Login {
  border-color: map-get($presentationColors, azure);
  background: rgba(map-get($presentationColors, azure), 0.25);
}
#Register {
  border-color: map-get($presentationColors, blue);
  background: rgba(map-get($presentationColors, blue), 0.25);
}
#toBeDefined {
  border-color: map-get($presentationColors, violet);
  background: rgba(map-get($presentationColors, violet), 0.25);
}