@use "sass:map";
@use "sass:list";


$logoSizes: (
    sm: 100%,
    md: 500px,
    lg: 620px,
    xl: 730px,
);


// --- Media Queries breakpoints ---------------------------------------------------------------------------- //
$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1280px,
    xl: 1440px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}
// ---------------------------------------------------------------------------------------------------------- //