@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

/** 
* * User can add any custom colors into the $colors variable. 
* * The color must be in SCSS map format, with a key as left-assigment and a correspondent HTML color name as right-assigment.
*/
$colors: (
    Salmon: salmon,
    PaleVioletRed: palevioletred,
    DarkKhaki: darkkhaki,
    Plum: plum,
    MediumAquamarine: mediumaquamarine,
    LightSteelBlue: lightsteelblue,
    SteelBlue: steelblue,
    Magenta: magenta,
    Lightpink: lightpink,
    Wheat: wheat,
    Crimson: crimson,
    PurpleWine: #664157,
    CustomTurquise: #1ac0c6,
    CustomLobster: #fb7756,
    CustomDarkYellow: #facd60,
    CustomRed: #e74645,
    Golden: #ecc35c,
    GardenGreen: #50aa99,
);
$iconsSelected: (
    icon-times-circle: "\f057",
    icon-check-circle: "\f058",
    icon-question-circle: "\f059",
    icon-info-circle: "\f05a",
    icon-envelope-o: "\f003",
    icon-heart: "\f004",
    icon-star: "\f005",
    icon-star-o: "\f006",
    icon-bubbles: "\e96c",
    icon-binoculars: "\e985",
    icon-bug: "\e999",
    icon-tongue: "\e9e3",
    icon-sad: "\e9e5",
    icon-grin: "\e9e9",
);

:root {
    --topo: lime;

    @each $name, $color in $colors {
        --color--#{$name}: #{$color};
    }

    @each $class, $value in $iconsSelected {
        --icons--#{$class}: #{$value};
    }
}

$ctaColor: #ff6262;
$textWhite: whitesmoke;
$textBeige: #f2d6be;
$lightBkg: #473d55;
$medBkg: #342d3f;
$darkBkg: #2c2638;
$darkestBkg: #120d1c;
$lightAltBkg: #674457;
$darkAltBkg: #593542;

$atkinson: 'Atkinson Hyperlegible', sans-serif;
$robotoSlab: 'Roboto Slab', serif;

$border-radius: 6px;
$standardMargin: 12px;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-search: "\f002";
$icon-envelope-o: "\f003";
$icon-heart: "\f004";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-user: "\f007";
$icon-th: "\f00a";
$icon-th-list: "\f00b";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-cog: "\f013";
$icon-gear: "\f013";
$icon-trash-o: "\f014";
$icon-home: "\f015";
$icon-bookmark: "\f02e";
$icon-pencil: "\f040";
$icon-arrows: "\f047";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-question-circle: "\f059";
$icon-info-circle: "\f05a";
$icon-arrow-left: "\f060";
$icon-arrow-right: "\f061";
$icon-arrow-up: "\f062";
$icon-arrow-down: "\f063";
$icon-mail-forward: "\f064";
$icon-share: "\f064";
$icon-exclamation-triangle: "\f071";
$icon-warning: "\f071";
$icon-calendar: "\f073";
$icon-arrow-circle-left: "\f0a8";
$icon-arrow-circle-right: "\f0a9";
$icon-arrow-circle-up: "\f0aa";
$icon-arrow-circle-down: "\f0ab";
$icon-filter: "\f0b0";
$icon-bars: "\f0c9";
$icon-navicon: "\f0c9";
$icon-reorder: "\f0c9";
$icon-list-ul: "\f0ca";
$icon-list-ol: "\f0cb";
$icon-magic: "\f0d0";
$icon-caret-down: "\f0d7";
$icon-caret-up: "\f0d8";
$icon-caret-left: "\f0d9";
$icon-caret-right: "\f0da";
$icon-sort: "\f0dc";
$icon-unsorted: "\f0dc";
$icon-sort-desc: "\f0dd";
$icon-sort-down: "\f0dd";
$icon-sort-asc: "\f0de";
$icon-sort-up: "\f0de";
$icon-envelope: "\f0e0";
$icon-chevron-circle-left: "\f137";
$icon-chevron-circle-right: "\f138";
$icon-chevron-circle-up: "\f139";
$icon-chevron-circle-down: "\f13a";
$icon-check-square: "\f14a";
$icon-pencil-square: "\f14b";
$icon-sliders: "\f1de";
$icon-eyedropper: "\f1fb";
$icon-diamond: "\f219";
$icon-user-circle-o: "\e900";
$icon-user-circle: "\e901";
$icon-headphones: "\e910";
$icon-music: "\e911";
$icon-video-camera: "\e914";
$icon-dice: "\e915";
$icon-pacman: "\e916";
$icon-spades: "\e917";
$icon-clubs: "\e918";
$icon-diamonds: "\e919";
$icon-library: "\e921";
$icon-cart: "\e93a";
$icon-bell: "\e951";
$icon-bubbles: "\e96c";
$icon-binoculars: "\e985";
$icon-bug: "\e999";
$icon-mug: "\e9a2";
$icon-power: "\e9b5";
$icon-smile: "\e9e1";
$icon-tongue: "\e9e3";
$icon-sad: "\e9e5";
$icon-grin: "\e9e9";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-battery-4: "\f240";
$icon-battery-full: "\f240";
$icon-battery-3: "\f241";
$icon-battery-three-quarters: "\f241";
$icon-battery-2: "\f242";
$icon-battery-half: "\f242";
$icon-battery-1: "\f243";
$icon-battery-quarter: "\f243";
$icon-battery-0: "\f244";
$icon-battery-empty: "\f244";
$icon-diamond: "\f219";
$icon-expeditedssl: "\f23e";
$icon-battery: "\f240";

$icons: (
    icon-plus: "\f067",
    icon-minus: "\f068",
    icon-search: "\f002",
    icon-envelope-o: "\f003",
    icon-heart: "\f004",
    icon-star: "\f005",
    icon-star-o: "\f006",
    icon-user: "\f007",
    icon-th: "\f00a",
    icon-th-list: "\f00b",
    icon-check: "\f00c",
    icon-close: "\f00d",
    icon-remove: "\f00d",
    icon-times: "\f00d",
    icon-cog: "\f013",
    icon-gear: "\f013",
    icon-trash-o: "\f014",
    icon-home: "\f015",
    icon-bookmark: "\f02e",
    icon-pencil: "\f040",
    icon-arrows: "\f047",
    icon-chevron-left: "\f053",
    icon-chevron-right: "\f054",
    icon-plus-circle: "\f055",
    icon-minus-circle: "\f056",
    icon-times-circle: "\f057",
    icon-check-circle: "\f058",
    icon-question-circle: "\f059",
    icon-info-circle: "\f05a",
    icon-arrow-left: "\f060",
    icon-arrow-right: "\f061",
    icon-arrow-up: "\f062",
    icon-arrow-down: "\f063",
    icon-mail-forward: "\f064",
    icon-share: "\f064",
    icon-exclamation-triangle: "\f071",
    icon-warning: "\f071",
    icon-calendar: "\f073",
    icon-arrow-circle-left: "\f0a8",
    icon-arrow-circle-right: "\f0a9",
    icon-arrow-circle-up: "\f0aa",
    icon-arrow-circle-down: "\f0ab",
    icon-filter: "\f0b0",
    icon-bars: "\f0c9",
    icon-navicon: "\f0c9",
    icon-reorder: "\f0c9",
    icon-list-ul: "\f0ca",
    icon-list-ol: "\f0cb",
    icon-caret-down: "\f0d7",
    icon-caret-up: "\f0d8",
    icon-caret-left: "\f0d9",
    icon-caret-right: "\f0da",
    icon-sort: "\f0dc",
    icon-unsorted: "\f0dc",
    icon-sort-desc: "\f0dd",
    icon-sort-down: "\f0dd",
    icon-sort-asc: "\f0de",
    icon-sort-up: "\f0de",
    icon-envelope: "\f0e0",
    icon-chevron-circle-left: "\f137",
    icon-chevron-circle-right: "\f138",
    icon-chevron-circle-up: "\f139",
    icon-chevron-circle-down: "\f13a",
    icon-check-square: "\f14a",
    icon-pencil-square: "\f14b",
    icon-sliders: "\f1de",
    icon-eyedropper: "\f1fb",
    icon-magic: "\f0d0",
    icon-diamond: "\f219",
    icon-user-circle-o: "\e900",
    icon-user-circle: "\e901",
    icon-headphones: "\e910",
    icon-music: "\e911",
    icon-video-camera: "\e914",
    icon-dice: "\e915",
    icon-pacman: "\e916",
    icon-spades: "\e917",
    icon-clubs: "\e918",
    icon-diamonds: "\e919",
    icon-library: "\e921",
    icon-cart: "\e93a",
    icon-bell: "\e951",
    icon-bubbles: "\e96c",
    icon-binoculars: "\e985",
    icon-bug: "\e999",
    icon-mug: "\e9a2",
    icon-power: "\e9b5",
    icon-smile: "\e9e1",
    icon-tongue: "\e9e3",
    icon-sad: "\e9e5",
    icon-grin: "\e9e9",
    icon-checkbox-checked: "\ea52",
    icon-checkbox-unchecked: "\ea53",
    icon-battery-4: "\f240",
    icon-battery-full: "\f240",
    icon-battery-3: "\f241",
    icon-battery-three-quarters: "\f241",
    icon-battery-2: "\f242",
    icon-battery-half: "\f242",
    icon-battery-1: "\f243",
    icon-battery-quarter: "\f243",
    icon-battery-0: "\f244",
    icon-battery-empty: "\f244",
    icon-expeditedssl: "\f23e",
    icon-battery: "\f240",
);



@function buttonIcon($name) {
    $currenIcon: map.get($icons, $name);

    @return $currenIcon
}