@import "./_variables.scss";
@import "./_base.scss";
@import "./fonts.scss";


:root {
  --popper-theme-background-color: #333333;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 32px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}


.spacer { width: $standardMargin }

.btn {
  width: 2.5em;
  height: 2.5em;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;

  @each $key, $value in $icons {
    &--icn--#{$key} {
      @extend .btn;

      &::before {
        content: buttonIcon($key);
        font-family: $icomoon-font-family;
        font-size: 1.5em;
        color: inherit;
      }
    }
  }
  &--avatar {
    text-transform: none;
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;

    &::before {
      content: buttonIcon(icon-user-circle);
      font-family: $icomoon-font-family;
      font-size: 2.5em;
      color: $ctaColor;
    }
  }
}

// --- Icon and color picker -------------------------------------------------------------------------------- //
.selectedIcon {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin: 0 $standardMargin 0 0;
    border: 2px solid $textWhite;
    opacity: 0.75;
    transition: opacity 0.3s;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: 2px;
    appearance: none;
    outline: none;
    background-clip: content-box;
    background-color: transparent;

    @each $key, $name in $colors {
      &.#{$key} { 
        border-color: $name;

        &::before { color: $name }
      }
    }
}
.iconPicker,
.colorPicker {
  max-width: 20rem;

  input[type="radio"] {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    padding: 2px;
    appearance: none;
    outline: none;
    background-clip: content-box;
    background-color: transparent;

    &:disabled { background-color: var(--radio-disabled-bg-color) }
    &:disabled:checked { background-color: var(--radio-disabled-bg-color) }
    &:not(:disabled):checked {
      background-clip: content-box;
      padding: 2px;
      transform: scale(1.1);
    }
  }
}
.iconPicker {
  display: flex;
  flex-wrap: wrap;

  input[type="radio"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $textWhite;
    color: $textWhite;
    margin: 0.25em;
    opacity: 0.75;
    transition: opacity 0.3s;

    &:not(:disabled):checked { background-color: red }

    @media (hover: hover) { 
      &:not(:disabled):hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.1);
      }
      &:not(:disabled):checked:hover { background-color: darken(red, 20%) }
    }  
  }
}

.colorPicker {  
  input[type="radio"] {
    display: inline-block;
    margin: auto 0.25em;
    transition: background-color 0.3s;

    @each $key, $name in $colors {
      &.#{$key} { 
        background-color: $name;
        border: 1px solid $name;

        &:not(:disabled):checked {
          background-color: darken($name, 30%);
          background-image: radial-gradient(
            circle,
            var($name) 0%,
            var($name) 50%,
            transparent 60%,
            transparent 100%
          );
        }
        @media (hover: hover) { 
          &:not(:disabled):hover {
            background-color: lighten($name, 8%);
            cursor: pointer;
            transform: scale(1.1);
          }
          &:not(:disabled):checked:hover {
            background-color: darken($name, 30%);
            background-image: radial-gradient(
              circle,
              var($name) 0%,
              var($name) 50%,
              transparent 60%,
              transparent 100%
            );
          }
        }
      }
    }
  }

}
// ---------------------------------------------------------------------------------------------------------- //

// --- Ugency checkbox -------------------------------------------------------------------------------------- //
.urgentSwitch {
  .form-control > input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 2em;
    height: 2em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: buttonIcon('icon-warning');
      font-family: $icomoon-font-family;
      color: grey;
      width: 1em;
      height: 1em;
      line-height: 1;
      font-size: 1.25em;
    }
    &:checked::before { color: red; }
  }
}
// ---------------------------------------------------------------------------------------------------------- //


.appHeader {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  &--title {
    color: $textWhite;
    margin-left: auto;
    font-family: $atkinson;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
  &--avatar {
    margin-left: auto;
    font-size: 24px;
  }
}

.flyoutMenu {
  background-color: $textWhite;
  border-radius: $border-radius;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: $standardMargin;
  font-weight: normal;
  display: flex;
  outline: 1px solid red;

  // *** Style fot the Flyout Menu. Needs specificity ***
  .popper {
    $popperBkgColor: $textWhite;

    background-color: $popperBkgColor;
    padding: $standardMargin * 2;
    border-radius: 20px;
    color: $darkBkg;


    & #arrow::before { background: $popperBkgColor }
    &:hover,
    &:hover > #arrow::before { background: $popperBkgColor }
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

