@import "./_variables.scss";
@import "./_base.scss";
@import "./fonts.scss";

.iconTopo {
  &::before {
    content: buttonIcon('star');
    font-family: $icomoon-font-family;
    display: inline-block;
    color: red;
  }
}
.btn {
  width: 2.5em;
  height: 2.5em;
  border-radius: $border-radius;
  display: inline-block;

  @each $key, $value in $icons {
    &--icn--#{$key} {
      @extend .btn;
      &::before {
        content: buttonIcon($key);
        font-family: $icomoon-font-family;
        font-size: 1.5em;
        color: inherit;
      }
    }
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
